{% extends "registration/layout.html" %}
{% block head %}
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    * {
        box-sizing: border-box;
    }
</style>
{% endblock %}
{%block title %}FAVLINKS{% endblock%}
{% block body %}
{% if message %}
    <div>{{ message }}</div>
{% endif %}
<form class="add" action="{% url 'add_url_detail' %}" method="POST">
    {% csrf_token %}
    <button name="add_url" type="submit" value="" title="Click here to add favorite urls">ADD FAVORITE URL</button>
</form><br>
<form class="add" action="{% url 'category' %}" method="POST">
    {% csrf_token %}
    <button name="add_url" type="submit" value="" title="Click here to favorite categories">CATEGORY</button>
</form>
<form class="add" action="{% url 'tag' %}" method="POST">
    {% csrf_token %}
    <button name="add_url" type="submit" value="" title="Click here to favorite tags">TAG</button>
</form>
<br>
SEARCH
<form class="search" action="{% url 'search' %}" method="GET">
    {% csrf_token %}
    Title: <input type="text" placeholder="Fill Title Search.." name="title_search"><br>
    URL: <input type="text" placeholder="Fill URL Search.." name="url_search"><br>
    Category: <input type="text" placeholder="Fill CategorySearch.." name="category_search"><br>
    Tag: <input type="text" placeholder="Fill Tag Search.." name="tag_search"><br>
    Date: <input type="date" name="date_search" min="2000-01-01"><br>
    Search <button type="submit"><i class="fa fa-search"></i></button>
</form>
<br>
<table>
    <tr>
        <th>Favorites URL</th>
        <th>Title</th>
        <th>Categories</th>
        <th>Tags</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    {% for url in urls%}
    <tr>
        <td><a href="{{ url.url }}">{{ url.url }}</a></td>
        <td>{{ url.title }}</td>
        <td>
            {% for categorie in url.categories.all %}
                {{ categorie }} ,
            {% endfor %}
        </td>
        <td>
            {% for tag in url.tags.all %}
                {{ tag }} ,
            {% endfor %}
        </td>
        <td>
            <form class="edit" action="{% url 'edit_url_detail' %}" method="POST">
                {% csrf_token %}
                <button name="edit_url" type="submit" value="{{ url.id }}" title="Click here to edit ">EDIT</button>
            </form>
        </td>
        <td>
            <form class="delete" action="{% url 'delete_url' %}" method="POST">
                {% csrf_token %}
                <button name="delete_url_id" type="submit" value="{{ url.id }}" title="Click here to delete ">DELETE</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table><br>


<div class="pagination">
    <span class="step-links">
        {% if urls.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ urls.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ urls.number }} of {{ urls.paginator.num_pages }}.
        </span>

        {% if urls.has_next %}
            <a href="?page={{ urls.next_page_number }}">next</a>
            <a href="?page={{ urls.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}