{% extends "registration/layout.html" %}
{%block title %}CREATE TAG{% endblock%}
{% block body %}
<div>
    {% if messages %}
        {% for message in messages %}
            <div style="color:red;">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% if message %}
            <div style="color:red;">{{ message }}</div>
    {% endif %}
    <form action="{% url 'add_tag' %}" method="POST" class="input-form" >
        {% csrf_token %}
        <label for="name">Tag Name:</label><br>
        <input type="text" placeholder="fill your tag name" id="name" name="name" required><br>
        <button type="submit">CREATE</button>
    </form>
</div>
{% endblock %}